
    div.next_button{

    padding: 20px;
     }



    .container{
        padding: 20px;
    }

    #tit{

        margin-top: 20px;
        margin-bottom: 40px;
    }

    div#fac{
        display:none;
    }

    div#lista-oculta{
        display:none;
    }


   div#msj-ima{
        display:none;
    }

    div#lista2{
         display:none;
    }

    .btn-primary{
        margin-top: 30px;
        margin-bottom: 100px;
    }



    div#reqn{
    display:none;

    }



    div#reqe{
    display:none;

    }

    div#inpunac{
    display:none;
    }

    div#inpuext{
    display:none;
    }
