/*input[type="text"], textarea, select, option, input[type="password"], input[type="search"]{
    text-transform: uppercase;
}*/
/*
body{
	padding-top: 50px;
}

header{
	margin-bottom: 10px;
}

.navbar{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #222222;
}

.nav-tabs .nav-item > a{
	color: #A5A5A5;
}

.nav-tabs .nav-item .active{
	color: #000000;
	background-color: #D6D6D6;
	border-color: #ddd #ddd #ddd;
}
.nav-pills .nav-item{
	padding-right: 10px;


}*/
 .nav-item2 {
	padding-right: 10px;

}
html,body,p,div{
font-size: 14px;
}
html,body,p, div{
font-family: 'neosanspro-regular';
font-weight: normal;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
strong{
font-family: 'neosanspro-bold';
}

p {
  font-size: 14px;
}
label{
	 font-size: 14px;
}

.navbar {
	background-color: #424242;
}
.navbar-expand .navbar-nav .nav-link {
	color: #ffffff;
}
.navbar-expand .navbar-nav .nav-link:hover {
	color: #ffffffbd;
}
.login-page{
	background-color: #6b6b6b;
}
.arriba{
	margin-bottom:0px;
	background-color: #424242;
}
.abajo{
	margin-bottom:0px;
	background-color: #1b1b1b;
}
.login-box{

	border: 1px solid rgba(0, 0, 0,1);
}

.login-card-body .inputrow label {
    position: absolute;
	margin: 15px 10px;
}
.login-card-body .inputrow label:before {
    color: #424242;
}
#usuario .form-group {
    margin-bottom: 0;
}
.login-card-body .help-block{
	color: ffffff;
    font-size: 1rem;
}
#dominio{
	font-weight: 200;
    color: #ffffff;
    background-color: 1b1b1b;
    border-color: 1b1b1b;
}
.login-card-body input[type="text"], .login-card-body input[type="password"] {
	padding: 10px 12px 10px 32px;
   }
.input[type="text"]:focus {
    outline: none !important;
	border:2px solid #6b6b6b45;
}
.login-card-body input[type="password"] {
	outline: none !important;
	border:2px solid #6b6b6b45;
}
.login-logo{
	background-color:#424242;
	margin: 10px;
}
#login-logo >img{
	height: 100px;
	display:block;
	margin:auto;
}
.logofge{
	height: 40px;
}
#iniciar:hover{
	background-color: #6b6b6b;
}
.main-sidebar{
	background-color: #1b1b1b;
}

.barra-izquierda >a {
	color: #ffffff;
}
.barra-izquierda div >a {
	color: #ffffff;
}
.barra-izquierda li >a {
	color: #ffffff;
}
.barra-izquierda .nav-link.active {
	background-color: #424242;
	/*box-shadow: 2px 2px 4px #bdbdbd;*/
}
.barra-izquierda a:hover {
	color: #ffffffbd;
}


.boxone{
	background-color: #f8f8f8;
	/*border: solid 1px #BFBFBF;
	/*min-height: 520px;*/
	padding: .5rem 0rem 0rem 0rem;
}

.boxtwo{
	background-color: #ffffff;
	/*border: solid 1px #BFBFBF;*/
	padding: 9px;
}

.barras{
	width: 99%;
	height: 500px;
	overflow: scroll;
}
/* Pestañas colores*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #1b1b1b;
	font-weight: bolder;
    background-color: rgb(255, 255, 255);
}

.nav-tabs .nav-link {
	color: #424242;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-header{
background-color: rgba(0, 0, 0, 0.100);
border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#detallehead {
	padding: 0rem 0rem 0rem 0rem;
	border-bottom: 0;
}

textarea {
	resize: none;
}

.boxcollapse{
	background-color: #D6D6D6;
}
html{
  	font-family: 'neosanspro-regular';
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.btn-primary {
    color: #fff;
    background-color: #424242;
	border-color: #424242;


}
.btn-primary:hover {
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}
.btn-primary:active {
	background-color: #1b1b1b;
	border-color: #6b6b6b !important;
	box-shadow: 3 3 6px rgba(112, 112, 112, 0.938) !important;
}
.btn-primary:focus{
	background-color: #1b1b1b;
	border-color: #6b6b6b !important;
	box-shadow: 3 3 6px rgba(112, 112, 112, 0.938) !important;
}
.btn-primary:after{
	background-color: #1b1b1b;
	border-color: #6b6b6b !important;
	box-shadow: 3 3 6px rgba(112, 112, 112, 0.938) !important;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #ffffff;
	background-color: #1b1b1b;
	border-color: #6b6b6b !important;
	box-shadow: 3 3 6px rgba(112, 112, 112, 0.938) !important;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #1b1b1b;
  border-color: #6b6b6b !important;
  box-shadow: 3 3 6px rgba(112, 112, 112, 0.938) !important;
}
.main-footer{
	padding: 15px 15px 25px;
    color: #42424246;
	bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 10px;
    background-color: #f5f5f5;
}


form .form-control:focus {
	border-color: #6b6b6b !important;
	box-shadow: 0 0 5px rgb(165, 165, 165) !important;
  }
.btn:focus, .btn:active {
	background-color: #D8D8D8;
	border-color: #f5f5f5 !important;
	box-shadow: 0 0 5px rgb(165, 165, 165) !important;
}

.borrar {
	width: 40px;
}
.borrar:hover{
	width: 150px;
}
.pestaña{
	margin-bottom: 0px;
}
#p-personal:active {
	content: 'Datos personales';
}

.pestaña:hover {
	width: auto;
	bottom: 0;
  }

  .xvacio{
	position: absolute;
	font-size: 0.6rem;
	color: rgb(39, 39, 39);
	font-weight: bolder;
	top: 0;
	display: inline-block;
	width: 15px;
	text-align: center;
	background-image: -webkit-linear-gradient(top, rgb(255, 251, 0), rgb(255, 251, 60));
    background-image: -moz-linear-gradient(top, rgb(255, 251, 0),rgb(255, 251, 60));
    background-image: -o-linear-gradient(top, rgb(255, 251, 0),rgb(255, 251, 60));
    background-image: -ms-linear-gradient(top, rgb(255, 251, 0),rgb(255, 251, 60));
    background-image: linear-gradient(top, rgb(255, 251, 0),rgb(255, 251, 60));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
	-webkit-border-radius:10em;
    -moz-border-radius:10em;
	border-radius:10em;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  }

  .xerror{
	position: absolute;
	font-size: 0.6rem;
	font-weight: bolder;
	color: white;
	top: 0;
	display: inline-block;
	margin-left: 15px;
	width: 15px;
	text-align: center;
	background-image: -webkit-linear-gradient(top, rgb(255, 0, 0), rgb(255, 60, 60));
    background-image: -moz-linear-gradient(top, rgb(255, 0, 0), rgb(255, 60, 60));
    background-image: -o-linear-gradient(top, rgb(255, 0, 0), rgb(255, 60, 60));
    background-image: -ms-linear-gradient(top, rgb(255, 0, 0), rgb(255, 60, 60));
    background-image: linear-gradient(top, rgb(255, 0, 0), rgb(255, 60, 60));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
	-webkit-border-radius:10em;
    -moz-border-radius:10em;
	border-radius:10em;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  }
  .bien{
	position: absolute;
	font-size: 0.6rem;
	font-weight: bolder;
	color: white;
	top:0;
	display: inline-block;
	margin-left: 30px;
	width: 15px;
	text-align: center;
	background-image: -webkit-linear-gradient(top, rgb(2, 221, 13), rgb(2, 221, 60));
    background-image: -moz-linear-gradient(top, rgb(2, 221, 13), rgb(2, 221, 60));
    background-image: -o-linear-gradient(top, rgb(2, 221, 13), rgb(2, 221, 60));
    background-image: -ms-linear-gradient(top, rgb(2, 221, 13), rgb(2, 221, 60));
    background-image: linear-gradient(top, rgb(2, 221, 13), rgb(2, 221, 60));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
	-webkit-border-radius:10em;
    -moz-border-radius:10em;
	border-radius:10em;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);

  }
/* Ejemplo para animacion
#btn-reset{
  -webkit-transition: background-color 2s ease-out, width 1s ease;
  -moz-transition:background-color 2s ease-out, width 1s ease;
  -o-transition: background-color 2s ease-out, width 1s ease;
  -ms-transition:background-color 2s ease-out, width 1s ease;
  transition: background-color 2s ease-out, width 1s ease;
}*/

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.sidebar::-webkit-scrollbar {
    width: 0.6rem;
}

.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/*/*botón up
.boton-subir{
   display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties 
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #8d8d8d url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
/*evento hover
.boton-subir:hover{
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
/*estilos para el tag i
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 10px;

}*/
body {
  font-size: 100%;
  font-family: "Bitter", sans-serif;
  color: #000;
  background-color: #e1e2e1;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #8d8d8d url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #1b1b1b;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/*.swal-modal{ width:610px; height: 635px; } */
/*.kv-file-content{width:auto; height: auto;}*/