p {
  font-size: 14px;
}

/* #tit, #btng {display: inline; } */
#t1, #t2 {display: inline; }
#t3, #t4 {display: inline; }
#t5, #t6 {display: inline; }
#t7, #t8 {display: inline; }
#t9, #t10 {display: inline; }
#t11,#t12 {display:inline; }
#t12,#t13 {display:inline; }

.img-ayuda{
  margin: auto;
  width: 100%;
  height: auto;
}



.modal-header, .close {
      text-align: center;
      font-size: 14px;
  }

  #modal {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
  }
}

#mostrar-modal {
  display: none;
  + label {
    background: steelblue;
    display: table;
    margin: auto;
    color: #fff;
    line-height: 3;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background: darken(steelblue,10%);
    }
  }
  &:checked {
    & ~ #modal {
      top: 0;
    }
    & ~ #cerrar-modal + label {
      display: block;
    }
  }
}

#cerrar-modal {
  display: none;
  + label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: tomato;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    display: none;
    transition: all .5s;
  }
  &:checked {
     & ~ #modal {
      top: -100vh;
    }
    & + label {
      display: none;
    }
  }
}
